<h3>Instructions</h3>

<p>
    The task is to build a dynamic webpage (mocks below) using the <a href="https://mozilla.github.io/nunjucks/">Nunjucks</a>
    templating library, the json files in the data folder, <br> the sass modules in the sass folder, and any necessary
    js/scss you write yourself.
</p>

<p>
    This app is using Webpack and most of it is setup already. However, you will have one simple
    infrastructure task to get started.
<p>

{% set instructions = [
    'Do your work in solution.njk and render that instead of this file (main.njk)',
    'Install SASS loader for Webpack to make use of modules we have included in the sass folder',
    'Using nunjucks, display the data from the <code>src/data/data-1.json</code> file on page load',
    'Add js and html so that clicking a "toggle" button will dynamically toggle the view showing data from <code>src/data/data-2.json</code>',
    'Add js and html so that clicking a sort button will toggle between a sort by ranking and an alphabetical sort by school name',
    'Feel free to make use of any libraries to implement these requirements'
  ]
%}

<ul>
  {% for instruction in instructions %}
  <li>{{ instruction | safe }}</li>
  {% endfor %}
</ul>

<br>
<h3>Mocks below</h3>

<div><strong>1024px and above</strong></div>
<div>
  <img src="/img/mock-1024-up.jpg" width="1024">
</div>

<div><strong>up to 1023px</strong></div>
<div>
  <img src="/img/mock-768.jpg" width="768">
</div>

<div><strong>up to 640px</strong></div>
<div>
  <img src="/img/mock-320.jpg" width="320">
</div>